
mat-icon {
  cursor: pointer;

}


/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.card-table {
  width: 80%;
  position: center;
  margin: 3% auto;
}

section {
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
}


.card-form {
  width: 80%;
  margin: 3% auto;
  background: #F0F0F7;
}

section form {
  padding: 1% 2%;
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.placeholder {
  color: #ffffff !important;
}

section form mat-form-field {
  margin: 0 2%;
  width: 40%;
}

button {
  background: #608135;
  box-shadow: 0px 3px 6px #00000029;
  width: 40%;
  height: 8%;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  align-self: center;
  cursor: pointer;
}

